@import "bootstrap";

header {
    @extend .py-5;

    h1 {
        @extend .display-5;
    }
}

body{
    @extend .container;
}

#demarrer{
    @extend .mb-4;
}

#jeu {
    margin: auto;


    .ligne {
        height: 50px;
        >div {
            // Une case du jeu
            width           : 50px;
            min-height      : 50px;
            display         : inline-block;
            background-color: green;
            background-image: url(../images/erth.jpg);
        }

        .joueur {
            background-color: red;
            background-image: url(../images/mincraft-per-head.png);
        }

        .mechant {
            background-color: black;
            background-image: url(../images/zombie.jpg);
        }

        // apparition voeur vie sup
        .vie_sup {
            background-image: url(../images/vie-sup.png);
        }
    }
}

#selectable{
    .ui-selected{
        background: --bs-primary;
    }
}
