@import "bootstrap";

body {
    @extend .container;

    .texte-pour-lecteur {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal !important;
    }
}

header {
    @extend .text-center;
}

#jeuUtils {
    @extend .container;

    #prepaJeu {

        #modeJeu {
            @extend .text-center;

            ul {
                list-style-type: none;
                @extend .text-center;
                display: block;
            }

            #selectable {
                li {
                    display: inline-block;
                    padding: 5px;
                    margin: 5px;
                    max-width: 35%;

                }

                li:hover {
                    background-color: #efb73e;
                }

                .ui-selected {
                    background: #e95420;
                }
            }
        }

        #infos {
            @extend .m-5;
            @extend .text-center;
        }
    }

    #button {
        @extend .text-center;
    }
}

#demarrer,
#rejouer {
    @extend .mb-4;
}

#jeu {
    margin: auto;
    @extend .text-center;
    @extend .my-5;

    .ligne {
        height: 50px;

        >div {
            width: 50px;
            min-height: 50px;
            display: inline-block;
            background-image: url(../images/erth.jpg);
        }

        .joueur {
            background-image: url(../images/mincraft-per-head.png);
            border: 1px solid black;
        }

        .mechant {
            background-image: url(../images/zombie.jpg);
            border: 1px solid black;
        }

        .vie_sup {
            background-image: url(../images/vie-sup.png);
            background-color: green;
        }
    }
}

footer {
    @extend .text-center, .text-muted, .pt-5, .my-5;

    p {
        @extend .mb-1;
    }
}

h3 {
    text-align: center;
}

#caracteristiques {
    @extend .col-5;
    border: 5px solid black;
    @extend .p-3;
}